/* Judul Utama */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Heading */
body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background: #f0f0f0;
}
header {
    background: linear-gradient(to right, #00a6a6, #007068);
    color:white;
    text-align: center;
    padding: 20px 0;
}
h1 {
    margin: 0;
}
nav {
    background: linear-gradient(to right, #00a6a6, #007068);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, .1);
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #00a6a6, #007068);
}
nav ul li {
    margin: 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s ease;
}
nav ul li a:hover 
nav ul li a:active {
    background-color: #005f5f;
}

/* Body */
body {
    font-family: sans-serif;
}
.container {
    width: 80%;
    padding: 20px;
    align-items: center;
    max-width: 960px;
    height: 1450px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba (0, 0, 0, .1);
    position: relative;
}
.library {
    text-align: center;
}
.library h2 {
    color: #666; 
}
.detail-buku {
    display: flex;
    align-items: center;
}
.detail-buku img {
    width: 300px;
    height: 200px;
}
.info-buku {
    margin-left: 60px;
    margin-right: 60px;
}
.info-buku h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.info-buku p {
    margin-bottom: 5px;
    text-align: justify;
}
.btn {
    flex: 1;
    text-align: end;
    padding: 10px 15px;
    margin: 0 5px auto;
    background-color: #00a6a6;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0070b8;
}

/* Komentar */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.full-boxer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.comment-box:hover{
    margin-top: 12px;
}
.comment-box{
    width: 425px;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}
.Profile{
    display: flex;
    align-items: center;
}
.profile-image{
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.Name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.Name strong{
    color: black;
    font-size: 18px;
}
.Name span{
    color: gray;
    margin-top: 2px;
}
.comment p{
    color: black;
} 

/* Footer */
#contact {
    background: linear-gradient(to right, #00a6a6, #007068) ;
    padding: 50px 50px 50px 50px;
}
.container-footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.footer-section {
    width: 20%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
    line-height: 50px;
}
footer {
    background: linear-gradient(to right, #00a6a6, #007068) ;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width:991.98px) { 
    .container {
        width: 100%;
        height: 100%;
    }
    section {
        display: block;
    }
    section img{
        display: block;
        width: 100%;
        height: 100%;
    }
    .detail-buku {
        width: 100%;
        height: 100%;
    }
}