/* Judul Utama */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Heading */
body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background: #f0f0f0;
}
header {
    background: linear-gradient(to right, #00a6a6, #007068);
    color:white;
    text-align: center;
    padding: 20px 0;
}
h1 {
    margin: 0;
}
nav {
    background: linear-gradient(to right, #00a6a6, #007068);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, .1);
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #00a6a6, #007068);
}
nav ul li {
    margin: 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s ease;
}
nav ul li a:hover 
nav ul li a:active {
    background-color: #005f5f;
}

/* Body */
body {
    font-family: sans-serif;
}
.container {
    width: 80%;
    padding: 20px;
    align-items: center;
    max-width: 960px;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba (0, 0, 0, .1);
    position: relative;
}
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.library {
    text-align: center;
}
.library h2 {
    color: #666; 
}
.login {
    width: 400px;
    height: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
}
form {
    width: 250px;
    margin: 60px;
}
h1 {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
hr {
    border-top: 2px solid white;
}
p {
    text-align: center;
    margin: 10px;
}
form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
input {
    width: 100%;
    margin: 7px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid aquamarine;
}
button {
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: rgb(174, 113, 94);
}
button:hover {
    background: linear-gradient(to right, #00a6a6, #007068);;
}

/* Footer */
#contact {
    background: linear-gradient(to right, #00a6a6, #007068) ;
    padding: 50px 50px 50px 50px;
}
.container-footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.footer-section {
    width: 20%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
    line-height: 50px;
}
footer {
    background: linear-gradient(to right, #00a6a6, #007068) ;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Tambahan */
@media screen and (max-width:991.98px) { 
    .container {
        width: 100%;
        height: 100%;
    }
    section {
        display: block;
    }
    form {
        width: 300px;
        margin: 20px auto;
    }
    .login {
        width: 400px;
        padding:20px;  
    }
    button {
        width: 100%;
    }
}